<suite name="Project name">

    <test name = "module 1">
        <classes>
            <class name="TestNGDemos.demos.ClassOne"/>
            <class name="TestNGDemos.demos.ClassTwo"/>
        </classes>
    </test>

    <test name = "module 2">
        <classes>
            <class name="TestNGDemos.demos.ClassThree"/>
        </classes>
    </test>

</suite>